<div class="container">
    <div class="span12">
        <h1>Welcome <%= current_user.first_name.capitalize %></h1>
        <div>Established Connections
            <% current_user.chats.each do |chat| %>
            <% if current_user.giver %>
            <div class="user_chats">
                <div class="row">
                    Chat with: <%= chat.needer.first_name %>
                    <div class="col-md-1 ml-auto">
                        <%= button_to "Connect", chat_path(chat.id), method: "get" %>
                    </div>
                    <div class="col-md-1">
                        <%= button_to "Delete", chat_path(chat.id), method: "delete" %>
                    </div>
                </div>
            </div>
            <% else %>
            <div class="user_chats">
                <div class="row">
                    Chat with: <%= chat.user.first_name %>
                    <div class="col-md-1 ml-auto">
                        <%= button_to "Connect", chat_path(chat.id), method: "get" %>
                    </div>
                    <div class="col-md-1">
                        <%= button_to "Delete", chat_path(chat.id), method: "delete" %>
                    </div>
                </div>
            </div>
            <% end %>
            <% end %>
        </div>
        <div>
        <% if current_user.giver %>
                <%= link_to "New connection?", chats_path, method: :post %>
        <% end %>
        </div>
    </div>
</div>
