<div class="container">
    <div class="span12">
        <div class="row">
        <h1 id="welcome-user">Welcome <%= current_user.first_name.capitalize %></h1>
        </div>
        <div><div class="connect">Established Connections</div>
            <% current_user.chats.each do |chat| %>
            <% if current_user.giver %>
            <div class="user_chats">
                <div class="row">
                    <div class="user-name">
                    Chat with: <%= chat.needer.first_name %></div>
                    <div class="col-md-1 ml-auto">
                        <%= button_to "Connect", chat_path(chat.id), method: "get" %>
                    </div>
                    <div class="col-md-1">
                        <%= button_to "Delete", chat_path(chat.id), method: "delete" %>
                    </div>
                </div>
            </div>
            <% else %>
            <div class="user_chats">
                <div class="row">
                <div class="user-name">
                    Chat with: <%= chat.user.first_name %></div>
                    <div class="col-md-1 ml-auto">
                        <%= button_to "Connect", chat_path(chat.id), method: "get" %>
                    </div>
                    <div class="col-md-1">
                        <%= button_to "Delete", chat_path(chat.id), method: "delete" %>
                    </div>
                </div>
            </div>
            <% end %>
            <% end %>
        </div>
        <div class="new-user">
        <% if current_user.giver %>
                <%= link_to "New connection?", chats_path, method: :post %>
        <% end %>
        </div>
    </div>
</div>
