<div class="container">
    <div class="span12">
        <h1>Connection with: <% if current_user == @chat.user %>
        <%= @chat.needer.first_name %>
        <% else %>
        <%= @chat.user.first_name %>
        <% end %> </h1>
        <div>
        <%= form_tag(chat_messages_path(@chat.id), method: "post") do %>
            <%= text_area_tag "content", nil, rows: 10, cols: 66 %>
            <div class="col-md-7  ml-auto" id="post">
            <%= submit_tag "Post", class: "btn" %>
            </div>
        <% end %>
        <% @msgs.each do |msg| %>
            <% msg_class = msg.chat.user.giver ? 'giver-msg' : 'needer-msg' %>
            <div class="<%=msg_class%>">
                <%= msg.content %>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="user"><%= msg.author %></span>
            </div>
        <%end%>
        </div>
    </div>
</div>